**/*.svg
package.json
/dist
/src-tauri
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.history
CNAME
/build
/public